.button_submit {
	  color: white;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      background: rgb(223, 117, 20);
      border: 0px;
}

.search_option {
	float: left;
	margin: 50px;
}

div#main_content {
	position: absolute;
	top: 150px;
	font-family: Raleway;
}

div#main_content a {
	position: relative;
	left:50px;
}

a#search_img_link:hover img {
	opacity: 0.5;
}