div#main_content {
	position: absolute;
	top: 150px;
	left: 150px;
}

body {
	font-family: Raleway;
}



table{
	border: 0px;
}

table tr  td {
	border: 0px;
	padding-right: 50px;
}

button.button_submit{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20);
    border: 0px;
    width: 75px;
}

img#movie_poster {
	width: 150px;
	height: 200px;
}